#container {
    box-sizing: border-box;
    width: 1350;
    height: 640;
    margin: 10px auto;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.3);
}

#list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

h2 {
  text-align: center;
}
/* 
#Georgetown {
  background-color: steelblue;
  color: white;
} */
/* #Michigan {
  background-color: #FFCB05;
  color: white;
} */

#content {
  display: flex;
  flex-direction: row;
}

#main {
  display: flex;
  flex-direction: column;
  width: 55%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  /* height: 100% */
}


div.tooltip {	
  position: absolute;			
  text-align: center;
  width: 150px;
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightgrey;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

div.seed-tooltip {
  width: 100px;
}