#container {
    box-sizing: border-box;
    width: 1500;
    height: 800;
    margin: 10px auto;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.3);
}

#list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

h2 {
  text-align: center;
}
/* 
#Georgetown {
  background-color: steelblue;
  color: white;
} */
/* #Michigan {
  background-color: #FFCB05;
  color: white;
} */

#content {
  display: flex;
  flex-direction: row;
}

#main {
  display: flex;
  flex-direction: column;
  width: 55%;
}

#main-header{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: flex-end;
}

#select-year-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}

#upsets-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

#year-selector {
  width: 90px;
}

#team-selector {
  width: 100px;
  height: 40px;
}

#team-buttons {
  margin-left: 132px;
  min-height: 40px;
}

.btn-sm {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  min-width: 80px;
}

.btn:hover {
  background-color: 'pink';
}

div.tooltip {	
  position: absolute;			
  text-align: center;
  min-width: 160px;
  padding: 10px;				
  font: 12px sans-serif;		
  background-color: #ebebeb;
  opacity: 0.3;
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

div.main-tooltip {
  min-width: 0px;
}



